* {
    font-family: 'Press Start 2P', cursive;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
canvas {
    border: 2px solid black;
}

