* {
    font-family: 'Press Start 2P', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    border: 2px solid black;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.game-container {
    width: 300px;
    margin: 0 auto;
}

.score-container, .high-score-container, .input-container {
    text-align: center;
    margin-top: 20px;
}

.score-container h2, .high-score-container h2 {
    margin-bottom: 5px;
}

#player-name {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
}

#save-score-btn {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#save-score-btn:hover {
    background-color: #0056b3;
}