* {
    font-family: 'Press Start 2P', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
}

canvas {
    border: 2px solid black;
    margin-left: 30px;
    /* margin-right: -30px; */
}

canvas:nth-of-type(2) {
    position: absolute;
    left: 535px;
    top: 149px;
}

canvas:nth-of-type(4) {
    position: absolute;
    left: 1100px;
    top: 149px;
}